{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
	<div class="container py-5 my-5">
		<h1>Update Profile</h1>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
				{% for field in form %}
					<div class="form-group">
						<label for="{{field.id_for_label}}">{{ field.label}}</label>
						
						{% if field.errors %}
							{{ field|add_class:"form-control is-invalid" }}
						{% else %}
							{{ field|add_class:"form-control" }}
						{% endif %}
			           	<div class="invalid-feedback">
							{% for error in field.errors %}
			             		{{error}}
		           			{% endfor %}
			           	</div>
			           	<small id="passwordHelpBlock" class="form-text text-muted">
						  	{{field.help_text}}
						</small>
		          	</div>
				{% endfor %}
			<button type="submit" class="btn btn-success"><i class="fas fa-save mr-2"></i>Save Changes</button>
			<a class="btn btn-danger" href="{% url 'profile' %}"><i class="fas fa-times-circle mr-2"></i>Cancel</a>
		</form>
	</div>
{% endblock content %}
